@page
@model AboutModel
@{
    ViewData["Title"] = "O Projektu";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Tento projekt vznikl jako semestrální práce do předmětu DAIS v 2. ročníku studia na VŠB-TUO</p>
