@page
@model ContactModel
@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>    
    Rybí <br />
    <abbr title="Phone">P:</abbr> 
    732343277
    @* One Microsoft Way<br /> *@
    @* Redmond, WA 98052-6399<br /> *@
    @* <abbr title="Phone">P:</abbr> *@
    @* 425.555.0100 *@
</address>

<address>
    <strong>Podpora:</strong> <a href="mailto:jindrich.kvita@gnj.cz">jindrich.kvita@gnj.cz</a><br />
    <strong>Hloupé dotazy:</strong> <a href="mailto:redkvicka007@seznam.cz">dopekel@seznam.cz</a>
</address>
