@page
@model WebApplication1.Pages.Login

@{
    //Layout = null;
    ViewData["Title"] = "Přihlášení";

}

<!DOCTYPE html>

<html>
<head>
    <title>Přihlášení</title>
</head>
<body>
<h2 align="center">Přihlášení</h2>
<div class="form-group" align="center">
    <form asp-page="/makeLogin" method="post">
        <label><b>Email</b></label><br/>
        <input type="text" name="email" placeholder="Email" required/> <br/>
        <label><b>Heslo</b></label><br/>
        <input type="password" name="heslo" placeholder="Heslo" required/><br/><br/>
        <input type="submit" value="Přihlas"/>
    </form>

</div>
</body>
</html>
