@page
@using WebApplication1.App_Data
@using WebApplication1.App_Data.proxy_shet
@model WebApplication1.Pages.makeLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>If you see this, you have slow Internet</title>
</head>
<body>
<div>
    @{
        Uzivatel tmp = new Uzivatel();
        var email = Request.Form["email"];
        var heslo = Request.Form["heslo"];
        tmp.Email = email;
        tmp.Heslo = heslo;
        tmp = UzivatelTableProxy.Select(tmp);
        if (tmp.Nick == null)
        {
            Response.Redirect("/Login");
        }
        else
        {
           Response.Cookies.Append("nick", tmp.Nick);
           Response.Cookies.Append("obec", tmp.ObecId.ToString());
           Response.Cookies.Append("uzivatelId", tmp.UzivatelId.ToString());
           Response.Cookies.Append("ban", tmp.Ban.ToString());
            var nick = Request.Cookies["nick"];
           Response.Redirect("/Index");

        }
    }
</div>
</body>
</html>